@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Welcome to my demo application</h2>
        <p>
            I decided to keep the home page for clarity.
        </p>
    </div>
    <div class="col-md-6">
        <h2>So why does this page exist?</h2>
        <p>This page really only serves as a go-between for the Employee list and creation form. Clicking Employees above will take you to the list where you can also create or edit employees.</p>
        <p>If you want to come back here just click the branding on the left of the navbar.</p>
    </div>
</div>